{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Singer index{% endblock %}

{% block body %}
    <h1>Singer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Hit</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for singer in singers %}
            <tr>
                <td>{{ singer.id }}</td>
                <td>{{ singer.name }}</td>
                <td>{{ singer.slug }}</td>
                <td>{{ singer.hit }}</td>
                <td>{{ singer.status }}</td>
                <td>
                    <a href="{{ path('singer_show', {'id': singer.id}) }}">show</a>
                    <a href="{{ path('singer_edit', {'id': singer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('singer_new') }}">Create new</a>
{% endblock %}
